@import "tailwindcss";

:root {
  --background: #fff0dd82;
  --foreground: #171717;

  /* Color Palette */
  --color-base: #FFF0DD;
  --color-neutral: #D1D3D8;
  --color-primary: #E2A16F;
  --color-primary-dark: #d18a54;
  --color-secondary: #86B0BD;
  --color-secondary-dark: #6a98a8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  /* zoom: 125%; Adjust zoom level */
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

/* Add padding only on desktop */
@media (min-width: 768px) {
  body {
    padding: 0 1rem;
  }
}

::selection {
  background-color: color-mix(in srgb, var(--color-primary) 30%, transparent);
  color: black;
}

.collapsibleItem, p {
  font-size: 1.3rem !important;
  font-family: Noto Serif JP;
  font-weight: 500;
  line-height: 1.5;
}

ruby {
  /* font-size: 1.5rem; */
}

.sub-item-text {
  background: var(--color-neutral);
  font-size: large;
}

.head-text {
  font-weight: normal;
  font-size: large;
}